/* benefits */

.benefit-wrapper {
    margin: auto;
    margin-top: 50px;
    max-width: 1000px;
}

.benefit-wrapper_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.benefit {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 5px;
    width: 100%;
    max-width: 300px;
}

.benefit:first-of-type {
    margin-top: 25px;
}

.benefit-subtext {
    margin-bottom: 25px;
}

.benefit img {
    margin-bottom: auto;
    width: 20px;
}

.benefit-text_wrapper {
    width: 80%;
    text-align: left;
    align-content: center;
}

.benefit-heading {
    margin: 0px;
    margin-left: 20px;
    font-size: 12pt;
    font-weight: bold;
    text-wrap: nowrap;
}

.benefit-text {
    margin: 0px;
    text-align: left;
    font-size: 12pt;
}