.button {
    font-size: clamp(12pt, 3vw, 14pt);
    padding: clamp(2px, 3vw, 20px);
    margin-top: 10px;
    width: 50%;
    max-width: 250px;
    color: var(--mainTwo);
    background-color: var(--medium);
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--mainTwo);
  }

  .form-button {
    font-size: clamp(10pt, 3vw, 12pt);
    padding: 3px;
    margin-left: auto;
    text-align: center;
  }

  .price-tile_button {
    display: inline-block;
    margin-top: 25px;
  }

  .button:hover {
    background-color: var(--light);

  }