.form-wrapper {
    max-width: clamp(200px, 100%, 800px);
    margin: 50px auto;
    padding: 2.5vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

form label {
    margin-top: 20px;
}

form label:first-of-type {
    margin-top: 0;
}

form label:first-of-type {
    margin-top: 0;
}

legend {
    margin-top: 20px;
}

input {
    height: 25px;
}

#info {
    height: 150px;
}