form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 50px auto;
    max-width: 500px;
}

form label {
    margin-top: 10px;
}

form label:first-of-type {
    margin-top: 0;
}