/* -----headings----- */

h1 {
    font-size: clamp(28pt, 3.5vw, 50pt);
    line-height: 1;
    margin: 0px;
  }

  .main-h1 {
    max-width: 500px;
  }

h2 {
    text-align: center;
    margin: 0;
    font-size: clamp(22pt, 8vw, 30pt);
    max-width: 500px;
    margin: auto;
    margin-bottom: 32px;
    z-index: 1000;
    line-height: 1;
}

#who-we-are h2 {
    margin: 32px auto 0px auto;
}

#timeline h2 {
    margin-top: 50px;
}

h3 {
    margin: 16px auto 8px auto;
}

.topper {
    font-size: clamp(10pt, 5vw, 16pt);
    width: 100%;
    text-wrap: nowrap;
    margin-bottom: 8px;
    font-style: italic;
  }

.topper-small {
    font-size: 14pt;
}

.floater {
    font-size: clamp(10pt, 5vw, 14pt);
    width: 100%;
    margin: 0px;
    font-style: italic;
    opacity: 50%;
}

.floater-extra {
    font-size: clamp(8pt, 5vw, 10pt);
    font-weight: 200;
}

/*-----classes for responsive font-size-----  */
.large_subtext {
    line-height: 1;
    margin: 10px auto;
  }

.scaling-subText {
    font-size: clamp(14pt, 1.75vw, 40pt);
    max-width: 500px;
    margin: 0;
    margin-left: auto;
    margin-bottom: 8px;
}

.scaling-pararaph {
    font-size: 12pt;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 8px;
}

.scaling-pararaph-centered {
    font-size: 12pt;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
}

.scaling-pararaph_main {
    max-width: 600px;
    margin: 32px auto;
    text-align: center;
}

#whats-included .scaling-pararaph_main {
    margin-bottom: 0px;
}

#portfolio .scaling-pararaph_main {
    margin: 16px auto;
}

.light-text {
    color: var(--light);
    scale: 1;
}

.medium-text {
    color: var(--medium);
}

.dark-text {
    color: var(--dark);
}

.lightgray-text {
    color: #777;
}

.italic {
    font-style: italic;
    margin: 0;
}