/* -----headings----- */

h1 {
    font-size: clamp(26pt, 13vw, 40pt);
    line-height: 1;
    margin: 0px;
  }

  .main-h1 {
    max-width: 500px;
  }

h2 {
    text-align: center;
    margin: 0;
    font-size: clamp(20pt, 8vw, 30pt);
    max-width: 500px;
    margin: auto;
    z-index: 1000;
}

#timeline h2 {
    margin-top: 50px;
}

h3 {
    margin: 0;
}

.topper {
    font-size: clamp(14pt, 5%, 18pt);
    width: 100%;
    text-wrap: nowrap;
    margin-bottom: 0px;
    font-style: italic;
  }

.topper-small {
    font-size: 14pt;
}

/*-----classes for responsive font-size-----  */
.large_subtext {
    line-height: 1;
    margin: 10px auto;
  }

.scaling-subText {
    font-size: clamp(16pt, 4.5vw, 18pt);
    max-width: 500px;
    margin: 0;
    margin-left: auto;
    margin-bottom: 10px;
}

.scaling-pararaph {
    font-size: 12pt;
    text-align: left;
}

.scaling-pararaph_main {
    max-width: 600px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

.light-text {
    color: var(--light);
}

.medium-text {
    color: var(--medium);
}

.dark-text {
    color: var(--dark);
}

.lightgray-text {
    color: #777;
}

.italic {
    font-style: italic;
    margin: 0;
}