.tile-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    height: auto;
    width: auto;
    max-width: 300px;
    margin: 8px;
    padding: clamp(20px, 2vw, 50px);
    border-radius: 50px;
    z-index: 100;
}

.frosted-tile {
        background: rgb(255,255,255);
        background: linear-gradient(145deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.1) 100%);
        border-radius: 30px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.2); 
}

.frosted-tile p {
    margin-top: 8px;
    margin-bottom: 0px;
}

.left-aligned {
    text-align: left;
    justify-content: left;
}

.light-tile {
    background-color: var(--mainTwo);
    box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.tile-image {
    width: auto;
    height: auto;
    max-height: 100px;
    margin: auto;
    margin-bottom: 32px;
}

.portfolio-image {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}

.tile-heading {
    margin: 0px auto;
    font-weight: regular;
    font-size: clamp(2pt, 8vw, 24pt);
}

/* -----price tile----- */

.tile_inner-wrapper {
    height: auto;
    max-width: auto;
    margin: 25px auto;
}

.tile_price-text {
    font-size: clamp(2pt, 20vw, 50pt);
    color: var(--light);
    line-height: 1;
    margin: 0px;
    text-align: center;
}

.tile_price-subtext {
    line-height: 1;
    font-size: 16pt;
    color: #777;
    margin: 0;
    margin-right: -20%;
}

*/ .tile li {
    font-size: 12pt;

}

/* -----price tiles----- */

.price-tile {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-width: 100px;
    max-width: 400px;
    margin: 20px 10px;
    padding: 25px;
}

.price-tile:hover {
    z-index: 100000;
}

.price-tile_inner-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.price-tile_inner-wrapper_p {
    width: auto;
    margin: auto;
}

.price-tile_info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-tile_info-wrapper p {
    font-size: 10pt;
    margin: auto;
}

/* benefits */

.benefit-section_wrapper {
    /* margin: auto; */
    width: 100%;
}

.benefit-wrapper_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.benefit-label {
    font-size: 12pt;
    text-align: left;
    margin: 15px auto;
    padding-bottom: 5px;
    border-bottom: 2px solid #DDDDDD;
}

.benefit {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    border-bottom: 1px solid #DDDDDD;
}

.no-benefit {
    color: #00000080;
}

.no-benefit img {
    opacity: 25%;
}

.benefit-subtext {
    margin-bottom: 25px;
}

.benefit img {
    margin-bottom: auto;
    width: 20px;
}

.benefit-text_wrapper {
    width: 80%;
    text-align: left;
    align-content: center;
}

.benefit-heading {
    margin: 5px;
    margin-left: 20px;
    font-size: 12pt;
    text-wrap: nowrap;
}

/* .benefit-heading:first-of-type {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 12pt;
    text-wrap: nowrap;
} */

.benefit-text {
    margin: 0px;
    text-align: left;
    font-size: 12pt;
}

/* info bubble */
.info-container {
    position: relative;
    display: block;
  }
  
  .info-icon {
    cursor: pointer;
    font-style: normal;
    color: #fff;
    text-align: center;
    opacity: 25%;
  }
  
  .info-bubble {
    visibility: hidden;
    position: absolute;
    top: 120%;
    right: 0%;
    transform: translateX(-12.5%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: clamp(75px, 100vw, 225px);
    text-align: left;
  }
  
  .info-container:hover .info-bubble {
    visibility: visible;
  }
  

.dividing-line {
    height: 2px;
    width: 50%;
    margin: 10px auto;
    background-color: var(--mainOne);
}

/* -----portfolio tiles ----- */

.portfolio-tile_heading {
    margin: 0;
    margin-right: auto;
}

.portfolio-tile_subheading {
    margin: 0;
    margin-right: auto;
}

.portfolio-tile_p {
    text-align: left;
}

/* --------button styles--------- */
.button {
    font-size: clamp(12pt, 3vw, 14pt);
    padding: clamp(2px, 2vw, 15px);
    margin-top: 10px;
    width: 50%;
    max-width: 250px;
    color: var(--mainTwo);
    background-color: var(--medium);
    text-decoration: none;
    text-align: center;
  }

  .form-button {
    font-size: clamp(10pt, 3vw, 12pt);
    padding: 3px;
    margin-left: auto;
    text-align: center;
  }

  .price-tile_button {
    display: inline-block;
    margin-top: 0px;
    filter: drop-shadow(5px 5px 0px var(--light));
  }

  .price-tile_button:hover {
    background-color: var(--dark);
    filter: drop-shadow(1px 1px 1px var(--light));
  }

  .wide-button {
    width: 100%;
    max-width: none;
  }

  .wide-button:hover {
    background-color: var(--dark);
  }

  .short-button {
    padding: clamp(2px, 2vw, 10px);
  }

.main-button_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin-top: var(--spacing-l);
}

.blob-button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--mainTwo);
    font-weight: 200;
    z-index: 1000;
    text-decoration: none;
    font-size: 18pt;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), var(--light));
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), var(--light));
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), var(--light));
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button:hover{
    /* transition: all .5s; */
    transform: scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
    animation-play-state: paused;
}

@media only screen and (min-width: 710px) and (max-width: 1080px) {
    #what-we-do .tile-wrapper,
    #our-prices .tile-wrapper {
        flex-direction: column;
        align-content: center;
    }

    .price-tile {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: auto;
        min-width: 100px;
        max-width: 100%;
        margin: 20px 10px;
        padding: 25px;
    }

    .price-tile_inner-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 32px;
    }

    .price-tile_tile-wrapper:nth-of-type(2),
    .price-tile_tile-wrapper:nth-of-type(4),
    .price-tile_tile-wrapper:nth-of-type(6) {
        flex-direction: column;
    }

    .price-tile_seperator-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0px auto;
    }

    
.benefit-section_wrapper {
    margin: auto 16px;
    max-width: 50%;
}
} 

@media screen and (min-width: 1300px) {
    .tile-wrapper {
        max-width: 90%;
        margin: auto;
    }

    .price-tile {
        width: 30%;
        max-width: 400px;
    }

    #whats-included .tile-wrapper {
        padding: 0px 5vw;
    }
} 