.vortex-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  display: none;
}

.vortex-top {
  position: absolute;
  top: -20vw;
  left: 0;
  width: 100%;
  height: auto;
  display: none;
}

/* VORTEX BOTTOM */

.vortex-bottom {
  width: 100vw;
  height: auto;
  z-index: 1;
  border: red 1px dashed;
  display: none;
}

.vortex-bottom_img {
  display: none;
  position: absolute;
  bottom: -15vw;
  left: 0;
  min-width: 100%;
  max-width: 100vw;
}